#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    /*border:1px solid red;*/
}

.button_swag {
    position:absolute;
    bottom:50%;
    right:50%;
    width:100px;
    height:30px;
}