<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>apps</key>
		<string>Spotify</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Add useful features to Spotify Desktop player</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/spotifyPlus.zip</string>
		<key>homepage</key>
		<string>https://w0lfschild.github.io/repo</string>
		<key>name</key>
		<string>Spotify+</string>
		<key>package</key>
		<string>org.w0lf.spotiHack</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.spotify.client</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.5.0</string>
		<key>webpage</key>
		<string>http://w0lfschild.github.io/</string>
	</dict>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Add transparency to most windows</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/zestyWin.zip</string>
		<key>homepage</key>
		<string>https://w0lfschild.github.io/repo</string>
		<key>name</key>
		<string>zestyWin</string>
		<key>package</key>
		<string>org.w0lf.zestyWin</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1.1</string>
		<key>webpage</key>
		<string>http://w0lfschild.github.io/</string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Dock</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Theme the dock</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string></string>
		<key>homepage</key>
		<string>https://w0lfschild.github.io/repo</string>
		<key>name</key>
		<string>cDock</string>
		<key>package</key>
		<string>org.w0lf.cDock</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.11.4</string>
		<key>webpage</key>
		<string>http://w0lfschild.github.io/app_cDock.html</string>
	</dict>
</array>
</plist>
