#nav ul{
  padding: 0;
  list-style: none;
  background: #FFFFFF;
  position: relative;
  /*position:fixed;*/
  /*left: 0;*/
  /*top: 0;*/
  /*border-bottom:2px solid #111111;*/
  /*padding:5px; */
  /*width: 100%;*/
  /*background: #F8F8F8;*/
  /*background: #f2f2f2;*/
}
#nav ul li{
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}
#nav ul li a{
  display: block;
  padding: 8px 25px;
  color: #333;
  text-decoration: none;
}
#nav ul li a:hover{
  color: #fff;
  background: #939393;
}
#nav ul li ul.dropdown{
  min-width: 170px; /* Set width of the dropdown */
  background: #f2f2f2;
  display: none;
  /*position: relative;*/
  position: absolute;
  z-index: 999;
  left: 0;
}
#nav ul li:hover ul.dropdown{
  display: block;	/* Display the dropdown */
}
#nav ul li ul.dropdown li{
  display: block;
}
