.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-danger {
  background-color: #d9534f;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-success {
  background-color: #5cb85c;
}

.label-primary {
  background-color: #337ab7;
}

.btn.btn-default {
  background: #ecf0f1;
  box-shadow: 0 2px #bdc3c7;
  color: #999;
  margin-bottom: 5px;
}

.btn.btn-default:hover {
  background: #ecf0f1;
  box-shadow: 0 2px #bdc3c7;
  color: #000000;
}

.plain-ul {
  list-style: none;
  position: relative;
  padding-left: 22px;
}

